.projectsTitle {
  opacity: 0;
}

.projectsTitle.appear {
  animation: projectsTitleAppear 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes projectsTitleAppear {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* Projects card animation */
.projectCards {
  opacity: 0;
}

.projectCards.appear {
  animation: projectsCardAppear 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes projectsCardAppear {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
