.skillsTitle {
  animation: skillsTitle 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes skillsTitle {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.skillImages {
  height: 5vmin;
}
